* {
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}


.nav-menu {
    background-color: #000;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;

}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10;
    margin: 0;

}

nav ul a {
    color: rgb(55, 61, 61);
    text-decoration: none;
    color: #f5f5f7;
    font-size: 12px;
    line-height: 3.66667;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #f5f5f7;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 8px;
    height: 44px;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    color: rgb(180, 180, 180);
}

.mac-announcement .headline {
    margin-top: 150px;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 450;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    max-width: 810px;
    text-align: center;
    color: #f5f5f7;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}


.wrapper .headline {
    margin-top: 20px;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 450;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    max-width: 810px;
    text-align: center;
    color: #f5f5f7;
    display: block;
    width: 100%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.wrapper .subhead {
    font-size: 28px;
    line-height: 1.07143;
    font-weight: 400;
    letter-spacing: 0.112px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    max-width: 810px;
    text-align: center;
    color: #f5f5f7;
    display: block;
    width: 1370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;

}

.wrapper .callout {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #6e6e73;
    margin-top: 15px;
    text-align: center;

}

.wrapper .link {
    margin-top: 15px;
    display: inline-block;
    position: relative;
    font-size: 21px;
    line-height: 29px;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 40%;
}

.wrapper a:link {
    color: #2997FF;
    text-decoration: none;
}

.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}




button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    border: solid 3px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: #f5f5f7;
}
    

button:hover {

    background-color: #f5f5f7;
    color: #000;
    cursor: pointer;
}