button {
    border-radius: 100rem;
    padding: 1rem;
    font-family: 'Avenir Next';
    font-size: 1rem;
    padding: .5rem 3rem;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 6px 0 rgb(158, 96, 212);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #f00000, #0400ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgb(0, 0, 0) inset;
  }
  
  button.cool-button:hover {
    box-shadow: none;
    color: rgb(255, 255, 255);
  }
  .cool-button a {
    color: white;
  }





